.container {
    display: flex;
    justify-content: center;
}

.btn {
    width: 180px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: #0056b3;
}

.btn:active {
    background-color: #004085;
}